# Cleaning the Auto Data Set

As mentioned in the introduction of the chapter on ETL, it is often the case in one off analyses that the ETL bleeds into the EDA and the boundary between the two is difficult to find. For the data we will use in this chapter, this is especially the case. We will load a CSV about *cars* from the University of California at Irvine (UCI) Machine Learning Data Repository. This particular data set is interested because it has a wide range of data types and thus will make the EDA more interesting. However, it comes from a CSV file and the data therein isn't exactly in the format we want.

Although we showed how we might use Python libraries to read CSVs in the previous chapter, we will use the Pandas library in this chapter. Pandas is the *de facto* library for working with data in Python as it replicates much of the functionality of DataFrames from R.

In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 200)

One of the more peculiar behaviors of Pandas is that it seems to switch between nicely formatted HTML versions of data and raw terminal output without much warning. The settings above make those instances when the output is just raw terminal output more readable.

One of the nicer things about using Jupyter Notebooks is that you can use "magics" to access the command line/terminal. However, you need to be a bit careful because such commands are not necessarily cross-platform (ie, Windows-compatible).

We can view the first few lines of the data file by using `head`:

In [2]:
!head -n 5 "../resources/data/imports-85.data.csv"

3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,168.80,64.10,48.80,2548,dohc,four,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,168.80,64.10,48.80,2548,dohc,four,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500
1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.50,171.20,65.50,52.40,2823,ohcv,six,152,mpfi,2.68,3.47,9.00,154,5000,19,26,16500
2,164,audi,gas,std,four,sedan,fwd,front,99.80,176.60,66.20,54.30,2337,ohc,four,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950
2,164,audi,gas,std,four,sedan,4wd,front,99.40,176.60,66.40,54.30,2824,ohc,five,136,mpfi,3.19,3.40,8.00,115,5500,18,22,17450

The first thing we notice is that strings are not enclosed in quotation marks so if there are any numbers that should be interpreted as strings, we will need to be careful (zip codes, SKUs, social security numbers are the usual offenders here...anything that can start with meaningful leading zeros). The second thing we notice is that "?" is the missing value marker. Finally, we note that there is no header row. Luckily, a data dictionary provided with the CSV file tells us the names of the columns.

In [3]:
header = ["symbolizing", "normalized_losses", "make", "fuel_type", "aspiration", "doors", "body_style", "drive", "engine_location", "wheel_base", "length", "width", "height", "curb_weight", "engine_type", "cylinders", "engine_size", "fuel_system", "bore", "stroke", "compression_ratio", "horse_power","peak_rpm", "city_mpg", "highway_mpg", "price"]

We can take all this information and use `read_csv` in Pandas to create a DataFrame. We will supply `headers` as the names of the columns and we will tell Pandas that "?" is the missing value ("NA") marker:

In [4]:
autos = pd.read_csv( "../resources/data/imports-85.data.csv", names=header,na_values="?")

The first thing we want to do is use `info` to get a basic sense of the data and to look at the first few rows:

In [5]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symbolizing          205 non-null int64
normalized_losses    164 non-null float64
make                 205 non-null object
fuel_type            205 non-null object
aspiration           205 non-null object
doors                203 non-null object
body_style           205 non-null object
drive                205 non-null object
engine_location      205 non-null object
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null object
cylinders            205 non-null object
engine_size          205 non-null int64
fuel_system          205 non-null object
bore                 201 non-null float64
stroke               201 non-null float64
compression_ratio    205 non-null float64
horse_power          203 non-null float64
peak_rpm             203 non-null float64
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                201 non-null float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.7+ KB

In [6]:
autos.head()

,symbolizing,normalized_losses,make,fuel_type,aspiration,doors,body_style,drive,engine_location,wheel_base,length,width,height,curb_weight,engine_type,cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

And now we want to start the rather long and sometimes tedious process of looking over all the variables. Usually, you will have some kind of domain knowledge that will help you tell if some of the values and ranges of values you observe are "janky". For this example, we'll have to rely on our common knowledge about cars...and where necessary, Wikipedia. When working on real world problems, you will often encounter variables that you don't understand and you'll need to hunt down the domain expert who does know.

To examine a variable, we can use `describe`:

In [7]:
autos["wheel_base"].describe()

count    205.000000
mean      98.756585
std        6.021776
min       86.600000
25%       94.500000
50%       97.000000
75%      102.400000
max      120.900000
Name: wheel_base, dtype: float64

`describe` prints out the basic descriptive statistics for the variable. In the case of a numeric variable, it will print out the usual parametric (mean, std) and non-parametric (min, 25%, 50%, 75%, max) descriptive statistics. It also prints out the *count* of non-NA values. You should make sure the value is what you think it should be.

It also shows you the *computer* type of the variable which can often be very important for working with the data if not necessarily interpreting it. For example, if we use `describe` on *make* which is a categorical variable we get:

In [8]:
autos["make"].describe()

count        205
unique        22
top       toyota
freq          32
Name: make, dtype: object

which is a very, very abbreviated summary of the data. It shows the *count*, the number of unique categories, and the most frequent category (the mode for categorical variables). This isn't always very useful. Sometimes we want to see *all* the categories and their frequencies. We can do this using `value_counts`:

In [9]:
autos["make"].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
volvo            11
peugot           11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
alfa-romero       3
jaguar            3
chevrolet         3
renault           2
mercury           1
Name: make, dtype: int64

This time we have a complete distribution of the categories. Note that the computer type is now `int64`, this refers to the computer type of the frequency counts.

As mentioned before, you will build up a library of scripts and functions that you use regularly to ease the pain of repetitive tasks. Reviewing data is no exception. We can write a more comprehensive `describe` that works the way we would like with categorical variables. And does it for all the variables at once. Now, just because you automate the process doesn't mean you are relieved of having to read the output. You need to review each variable and this is a downside to automation...we can get lazy.

In [12]:
def describe_variables( df):
    for name in df.columns:
        print( "----------")
        if df[ name].dtype is np.dtype( 'O'):
            print( df[ name].value_counts())
        else:
            print( df[ name].describe())

In [13]:
describe_variables( autos)

----------
count    205.000000
mean       0.834146
std        1.245307
min       -2.000000
25%        0.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: symbolizing, dtype: float64
----------
count    164.000000
mean     122.000000
std       35.442168
min       65.000000
25%       94.000000
50%      115.000000
75%      150.000000
max      256.000000
Name: normalized_losses, dtype: float64
----------
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
volvo            11
peugot           11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
alfa-romero       3
jaguar            3
chevrolet         3
renault           2
mercury           1
Name: make, dtype: int64
----------
gas       185
diesel     20
Name: fuel_type, dtype: int64
----------
std      168
turbo     37
Name: aspiration, dtype: int64
----------
four    114
two      89
Name: doors, dtype: int64
----------
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body_style, dtype: int64
----------
fwd    120
rwd     76
4wd      9
Name: drive, dtype: int64
----------
front    202
rear       3
Name: engine_location, dtype: int64
----------
count    205.000000
mean      98.756585
std        6.021776
min       86.600000
25%       94.500000
50%       97.000000
75%      102.400000
max      120.900000
Name: wheel_base, dtype: float64
----------
count    205.000000
mean     174.049268
std       12.337289
min      141.100000
25%      166.300000
50%      173.200000
75%      183.100000
max      208.100000
Name: length, dtype: float64
----------
count    205.000000
mean      65.907805
std        2.145204
min       60.300000
25%       64.100000
50%       65.500000
75%       66.900000
max       72.300000
Name: width, dtype: float64
----------
count    205.000000
mean      53.724878
std        2.443522
min       47.800000
25%       52.000000
50%       54.100000
75%       55.500000
max       59.800000
Name: height, dtype: float64
----------
count     205.000000
mean     2555.565854
std       520.680204
min      1488.000000
25%      2145.000000
50%      2414.000000
75%      2935.000000
max      4066.000000
Name: curb_weight, dtype: float64
----------
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: engine_type, dtype: int64
----------
four      159
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: cylinders, dtype: int64
----------
count    205.000000
mean     126.907317
std       41.642693
min       61.000000
25%       97.000000
50%      120.000000
75%      141.000000
max      326.000000
Name: engine_size, dtype: float64
----------
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
spfi     1
mfi      1
Name: fuel_system, dtype: int64
----------
count    201.000000
mean       3.329751
std        0.273539
min        2.540000
25%        3.150000
50%        3.310000
75%        3.590000
max        3.940000
Name: bore, dtype: float64
----------
count    201.000000
mean       3.255423
std        0.316717
min        2.070000
25%        3.110000
50%        3.290000
75%        3.410000
max        4.170000
Name: stroke, dtype: float64
----------
count    205.000000
mean      10.142537
std        3.972040
min        7.000000
25%        8.600000
50%        9.000000
75%        9.400000
max       23.000000
Name: compression_ratio, dtype: float64
----------
count    203.000000
mean     104.256158
std       39.714369
min       48.000000
25%       70.000000
50%       95.000000
75%      116.000000
max      288.000000
Name: horse_power, dtype: float64
----------
count     203.000000
mean     5125.369458
std       479.334560
min      4150.000000
25%      4800.000000
50%      5200.000000
75%      5500.000000
max      6600.000000
Name: peak_rpm, dtype: float64
----------
count    205.000000
mean      25.219512
std        6.542142
min       13.000000
25%       19.000000
50%       24.000000
75%       30.000000
max       49.000000
Name: city_mpg, dtype: float64
----------
count    205.000000
mean      30.751220
std        6.886443
min       16.000000
25%       25.000000
50%       30.000000
75%       34.000000
max       54.000000
Name: highway_mpg, dtype: float64
----------
count      201.000000
mean     13207.129353
std       7947.066342
min       5118.000000
25%       7775.000000
50%      10295.000000
75%      16500.000000
max      45400.000000
Name: price, dtype: float64

There are still some problems here. The number of doors is indicated by words "four" and "two" even though they are clearly numeric values and ordered (2 doors is really twice 4 doors). The same is true of cylinders. These are things we will likely want to fix but will not for this chapter as it is not a tutorial on Pandas.

Otherwise, we can observe that some important variables have missin data (4 cars are missing prices, for example) and these are the kinds of things you're going to want to note and investigate. This was covered in the last chapter.